################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs/
/**/*/bin/
/**/*/obj/
/**/packages/
/TaskTester/TaskTester.DesktopTester/publish
**/.suo
**/.csproj.user
**.o
/TaskTester/TaskTester.DesktopTester/TaskTester.DesktopTester.csproj.user
